NEXT_PUBLIC_SUPABASE_URL=https://wuailekujwcdkpqvycga.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MxQMfmaRBfBeVVvkyw0YnQ_TOJGIy3d
NEXT_PUBLIC_SITE_URL=https://ton-domaine.vercel.app
